.Sidebar
  .Sidebar__username
    .topItems 
      %p.topItems__name shuanno
      .topItems__list
        = link_to "#", class: "topItems__list__icon" do
          = icon('fas', 'edit')
          %span<>
        = link_to "#", class: "topItems__list__icon" do
          = icon('fas', 'cog')
  .Sidebar__grouplists
    - 3.times do ||
      .groupList
        .groupList__name
          techcamp  
        .groupList__message
          まだメッセージがありません
    